<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.atd3.ygl.codemuseum">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="cn.atd3.support.Application"
        android:theme="@style/AppTheme">
        <meta-data
            android:value="1:c7b04d1534f1ed7bb9241cf5fe6ea11e"
            android:name="cn.atd3.support.api.v1.ClientToken"
            />
    <activity
        android:name=".activity.MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".activity.useractivity.SigninActivity" />
        <activity android:name=".activity.useractivity.SignUpActivity" />
        <activity android:name=".activity.useractivity.SettingActivity" />
        <activity android:name=".activity.useractivity.MessageActivity" />
        <service android:name=".service.BeatService"></service>
    </application>
</manifest>